<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Show book</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">

</head>
<body>

<p th:text="${'Title: ' + book.getTitle()}">VALUE</p>
<p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Year: '+ book.getYear()}">VALUE</p>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>



<!--<p th:text="${'Title: ' + book.getTitle()}">VALUE</p>-->
<!--<p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>-->
<!--<p th:text="${'Year: '+ book.getYear()}">VALUE</p>-->
<!--<p th:text="${'Person_id: '+ book.getPerson().getName()}">VALUE</p>-->
<!--<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>-->

<!--<div th:if="${owner}">-->
<!--    <span>Книга сейчас у: </span> <span th:text="${owner.getName()}">Person Name</span>-->

<!--    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">-->
<!--        <input type="submit" value="Освободить книгу"/>-->
<!--    </form>-->
<!--</div>-->

<!--<div th:if="${people}">-->
<!--    <span>Эта книга свободна. Кому назначить ее?</span>-->
<!--    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}">-->
<!--        <label for="person">Выберите человека:</label>-->
<!--        <select th:object="${person}" th:field="*{id}" id="person">-->
<!--            <option th:each="person : ${people}" th:value="${person.getId()}"-->
<!--                    th:text="${person.getName()}"></option>-->
<!--        </select>-->
<!--        <input type="submit" value="Назначить человека" />-->
<!--    </form>-->
<!--</div>-->

<!--<hr/>-->


</body>
</html>